
<div class="col-sm-2">
	  <div class="dynamo-pic" {{bind-attr style=profilePic}}>
    <div class="dynamo-color" {{bind-attr style=colorOverlay}}>
	  </div>
  </div>
</div>
<div class="col-sm-8">
	<h2 {{bind-attr class="color isEditing:editing"}}>{{dynamo.name}} is <span style="text-transform:uppercase;">{{dynamo.color}}</span></h2>
	{{#if isEditing}}
	<input class="edit">
	{{else}}
		<p {{action "editNote" on="doubleClick"}}><strong>Notes: </strong>{{dynamo.note}}</p>
	{{/if}}
</div>